#all-menu{
    background-image: url(../img/menu.png);
    background-size: 1537px 191px;
    background-repeat: no-repeat;
    height: 271px;
}
#part-tow h6{
    background-color: #f8efa2;
    width: 153px;
    float: left;
    border-radius: 36px;
    margin-top: 9px;
    padding: 1px 0 4px 0;
    font-size: 11px;
    text-align: center;
}
#part-one{
    padding: 7px 0;
}
#part-one h6{
    font-size: 13px;
}
#main-menu{
    position: relative;
    bottom: 209px;
    padding-right: 455px;
}